/test/templates_c/vlayout/*
.svn/*
.svn*
dump/
config.inc.php
config.php
/logs/
/.idea/
/cache/
/backup/
/storage/
/modules/CloudFile/cache/
config.template.php
config.performance.php
config.db.php
sftp-config.json
tabdata.php
parent_tabdata.php
/test/templates_c/*
/portal/writeable/templates_c/*
/user_privileges
/vendor
